@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  text-transform: uppercase;
}

body {
  background-color: rgb(228, 228, 228);
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
}

nav h1 {
  font-weight: 400;
  font-size: 14px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  padding: 0 8px;
  list-style: none;
}

nav ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
}

header h1 {
  font-size: 6rem;
  padding: 0 2rem;
}

header::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(116, 116, 116);
  top: 170px;
}

section {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 0 3rem;
  padding-bottom: 5rem;
}

section .left .div1 {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(116, 116, 116);
  border-top: 0;
}

section .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: 400;
}

section .left .div1 img {
  height: 50rem;
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section .left .div1 p {
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-transform: lowercase;
  padding: 1rem 0;
}


section .twins {
  display: grid;
  grid-template-columns: 50% 50%;
}

section .left .div4 {
  border: 2px solid rgb(116, 116, 116);
  border-top: 0 ;
}

section .left #twin {
  border-left: 0;
}

section .left .div4 img {
  height: 28rem;
  width: 19rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section .left .div4 p {
  width: 19rem;
  text-transform: lowercase;
  padding: 1rem 0;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section .right{
  display: grid;
  grid-template-rows: 34rem 34rem 27.35rem;
}

section .right .div2 {
  border: 2px solid rgb(116, 116, 116);
  border-top: 0;
  border-left: 0;

}

section .right .div2 img {
  height: 27rem;
  width: 21rem;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

section .right .div2 p {
  width: 21rem;
  text-transform: lowercase;
  padding: 1rem 0;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section .right .div3 {
  border: 2px solid rgb(116, 116, 116);
  border-top: 0;
  border-left: 0;
}

section .right .div3 h3 {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

section .right .div5 {
  border: 2px solid rgb(116, 116, 116);
  border-top: 0;
  border-left: 0;
}

section .right .div5 img{
  height: 12.5rem;
  width: 9.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section .right .div5 p {
  text-transform: lowercase;
  width: 9.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}
